* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

ul {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.section-one {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

.section-one .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

.section-one .title {
    color: #f9faf8;
    font-size: 38px;
    font-weight: 900;
}

.section-one .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.section-one button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 0;
    border-radius: 4px;
    padding: 3px 16px;
    font-weight: bold;
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.section-two .boxes {
    display: flex;
    justify-content: center;
    width: 150px;
    gap: 34px;
    margin-bottom: 30px;
}

.section-two .box {
    height: 150px;
    width: 150px;
    border: solid #3882f6;
    border-radius: 12px;
}

.section-two .container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.section-two .text {
    text-align: center;
}

.section-three {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;
}

.author {
    margin-left: auto;
    font-weight: bold;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 100px;
}

.section-four .box {
    display: flex;
    background-color: #3882f6;
    align-items: center;
    gap: 150px;
    padding: 30px 80px;
    border-radius: 8px;
}

.section-four .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-four .title {
    color :#f9faf8;
    font-size: 28px;
    font-weight: bold;
}

.section-four .text {
    color: #e5e7eb;
    font-size: 18px;
}

.section-four button {
    background-color: #3882f6;
    color: #f9faf8;
    border: solid #f9faf8 2px;
    border-radius: 4px;
    padding: 3px 16px;
    flex-shrink: 0;
}