* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

ul {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.section-one {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

.section-one .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

.section-one .title {
    color: #f9faf8;
    font-size: 38px;
    font-weight: 900;
}

.section-one .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.section-one button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 0;
    border-radius: 4px;
    padding: 3px 16px;
    font-weight: bold;
}